---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Sure Exchange | Best Instant Crypto Exchange',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=690fa3aaa1d223a1f49b6295&product=sop' async='async'></script>
  <!-- Hero Widget ******************* -->

  <Hero
 
    actions={[
   
    ]}
   
  >
    <Fragment slot="title">

      <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/91904867-6144-4f51-b3b2-34f41b37f8f4/HTIeBdaGsH.lottie" speed="1" style="width: 100%; height: 110px" mode="forward" loop autoplay></dotlottie-wc>

      Sure <span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white"> Exchange</span> 
    </Fragment>
    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Buy, Sell, </span>  Swap Crypto: Fast, Secure, Trusted Since 2017
        </span
       
      >
</Fragment>

    <Fragment slot="subtitle">
       <CallToAction
    actions={[
   
    ]}
  >
    <Fragment slot="title">
     <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#0693e3" lcw-marquee-1="coins" lcw-marquee-2="movers" lcw-marquee-items="30" ></div>
     <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/d7debe35-623c-43f8-a986-e0c1e4233d55/8AcgS6Xip8.lottie" speed="0.2" style="width: 100%; height: 70px" mode="forward" loop autoplay></dotlottie-wc>
    </Fragment>

    <Fragment slot="subtitle">
   <iframe id='iframe-widget' src='https://changenow.io/embeds/exchange-widget/v2/widget.html?FAQ=true&amount=0.1&amountFiat=1500&backgroundColor=040422&darkMode=true&from=btc&fromFiat=eur&horizontal=false&isFiat&lang=en-US&link_id=537f0c2ee20bbe&locales=true&logo=false&primaryColor=00C26F&to=eth&toFiat=eth&toTheMoon=true' style="height: 410px; width: 100%; border: 1"></iframe>
    <script defer type='text/javascript' src='https://changenow.io/embeds/exchange-widget/v2/stepper-connector.js'></script>
 </Fragment>
    </CallToAction>
      <span class="hidden sm:inline">
        <span class="font-semibold">Limitless Web3 Crypto Exchange</span> Buy, Sell, Swap Crypto: Fast, Secure, Trusted Since 2017.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-white-600">Fast Crypto Exchange</span>
    The average time for exchange is about 2 minutes. You can track the crypto swap progress on the exchange page.
    </Fragment>
  </Hero>
<script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "3e3f6b78-0937-4d42-a8dd-29026571e1bf"
  });
</script>
  
</Layout>
