---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'All Chains',
};
---

<Layout metadata={metadata}>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=697e49a795a17f898df60afe&product=sop' async='async'></script>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline=""
     actions={[
      {
        variant: 'secondary',
        target: '_blank',
        text: 'Buy.Tutu',
        href: 'https://nad.fun/tokens/0x7f80504Eb196724617c34bA33C34d4A3696C7777',
        icon: 'tabler:link',
      },
      {
        variant: 'secondary',
        target: '_blank',
        text: 'Buy.Shus',
        href: 'https://nad.fun/tokens/0x9acb5c0B18119658024a5a3822362bD1E7687777',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '_blank',
        text: 'Buy.Tori',
        href: 'https://nad.fun/tokens/0x38D19Aa6C201E5C3b66824Ec35545e0Ce1857777',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '_blank',
        text: 'Buy.Frog',
        href: 'https://nad.fun/tokens/0x08733999167A9B33A82D976f57E55770f2367777',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '',
        text: 'MEME.Coin',
        href: '/home/meme',
        icon: 'tabler:circle-arrow-up-right',
      },
       
    ]}
  >
    <Fragment slot="title">
       <span class="hidden sm:inline"></span>  <span
        class="text-accent dark:text-white"></span
      > All MEME Coins
    </Fragment>

    <Fragment slot="subtitle">
    <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#0693e3" lcw-marquee-1="coins" lcw-marquee-2="movers" lcw-marquee-items="30" ></div>

 <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/2a269a84-6605-4261-9cb3-db95c0b03719/QhVg946fiV.lottie" speed="0.5" style="width: 100%; height: 500px" mode="forward" loop autoplay></dotlottie-wc>
    </Fragment>

    <Fragment slot="image">
      
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Powered by Monad Ecosystem."
    subtitle="A meme coin is a cryptocurrency inspired by internet memes, jokes, or, more broadly, pop culture trends. Unlike major cryptocurrencies like Bitcoin or Ethereum, which are often designed for specific utility, financial systems, or technological innovation, meme coins generally lack intrinsic value or long-term, real-world utility. Their value is derived almost entirely from social media hype, community sentiment, and, in many cases, celebrity endorsements."
  >
   
  </Features2>

  <!-- Stats Widget ****************** -->
</Hero>

  <!-- Note Widget ******************* -->
 <script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "a809134c-b38b-4248-9731-680f0fc48934"
  });
</script>
 
  
</Layout>
